In [22]:
import pandas as pd
import numpy as np
from datetime import datetime

In [4]:
df = pd.read_csv("data/marine_debris_cleaned.csv", delimiter=',', error_bad_lines=False)

/opt/anaconda3/envs/nasa/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
/opt/anaconda3/envs/nasa/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (0,12,18,19) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [5]:
df.shape

(767529, 21)

In [6]:
df.columns

Index(['list_id', 'master_item_id', 'list_name', 'material_index', 'material',
       'altitude', 'description', 'radius', 'item_id', 'id', 'quantity',
       'latitude', 'longitude', 'location', 'timestamp', 'manual_upload',
       'log_index', 'project_id', 'project_name', 'index', 'master_name'],
      dtype='object')

The most interesting columns for this project are:
- quantity
- latitude
- longitude
- timestamp
- master_name

In [8]:
df['master_name'].unique()

array(['Plastic Caps or Lids', 'Plastic or Foam Fragments',
       'Plastic Bags', 'Cigarettes/Cigars', 'Plastic Bottle',
       'Tobacco Packaging or Lighters', 'Foam or Plastic Cups or Plates',
       'Straws', 'Plastic Food Wrappers', 'Personal Care Products',
       'Six-pack rings', 'Other Plastic Jugs', 'Balloon and/or String',
       'Plastic Utensils', 'Rubber Gloves', 'Fishing Line', 'Toys',
       'Rubber Fragments', 'Plastic Pellet', 'Foam Fragment', nan,
       'Rubber Bands', 'Plastic Fiber', 'Other Rubber',
       'Aquaculture Gear'], dtype=object)

In [17]:
for timestamp in df['timestamp'].head():
    print(datetime.strptime(str(int(timestamp)), '%Y%m%d%H%M%S') )
    # print(timestamp)

2014-10-12 16:24:51
2014-10-12 16:25:09
2014-10-12 17:16:17
2014-10-12 17:16:17
2014-10-13 01:58:50

In [20]:
df.dtypes

list_id            object
master_item_id      int64
list_name          object
material_index      int64
material           object
altitude          float64
description        object
radius            float64
item_id           float64
id                float64
quantity          float64
latitude          float64
longitude          object
location           object
timestamp         float64
manual_upload     float64
log_index         float64
project_id        float64
project_name       object
index              object
master_name        object
dtype: object

In [23]:
df[df['timestamp'].isna()]

,list_id,master_item_id,list_name,material_index,material,altitude,description,radius,item_id,id,...,latitude,longitude,location,timestamp,manual_upload,log_index,project_id,project_name,index,master_name
234785,22,8,NOAA Marine Debris,4,PLASTIC,550.103027,juice boxes,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
234786,",3""",195,419320,1,30.2811998,77.975627,Dehra D?n; Uttarakhand; India,2.019041e+13,0.0,14760.0,...,NaN,399770.0,Plastic Food Wrappers,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df['datetime'] = datetime.strptime(df['timestamp'].astype(int).astype(str), '%Y%m%d%H%M%S')

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [14]:
df.head()

,list_id,master_item_id,list_name,material_index,material,altitude,description,radius,item_id,id,...,latitude,longitude,location,timestamp,manual_upload,log_index,project_id,project_name,index,master_name
0,22,4,NOAA Marine Debris,4,PLASTIC,333.0,NaN,13.0,181.0,36975.0,...,41.257700,-95.928745,NaN,2.014101e+13,0.0,44.0,NaN,NaN,36222,Plastic Caps or Lids
1,22,4,NOAA Marine Debris,4,PLASTIC,333.0,NaN,13.0,181.0,36976.0,...,41.257700,-95.928745,Omaha; NE,2.014101e+13,0.0,45.0,NaN,NaN,36223,Plastic Caps or Lids
2,22,12,NOAA Marine Debris,4,PLASTIC,295.0,NaN,3.0,202.0,36977.0,...,41.256964,-95.928939,unknown; unknown,2.014101e+13,0.0,46.0,NaN,NaN,36224,Plastic or Foam Fragments
3,22,1,NOAA Marine Debris,4,PLASTIC,295.0,NaN,4.0,177.0,36978.0,...,41.256964,-95.928939,unknown; unknown,2.014101e+13,0.0,46.0,NaN,NaN,36225,Plastic Bags
4,22,4,NOAA Marine Debris,4,PLASTIC,288.0,NaN,5.0,181.0,36980.0,...,41.256791,-95.92912,Omaha; NE,2.014101e+13,0.0,47.0,NaN,NaN,36227,Plastic Caps or Lids